<%- include ('./partials/header.ejs') %>
<body>
  <%- include ('./partials/navbar.ejs') %>
  <h1>Ask and Answer</h1>
  <a href="/ask">Ask here</a>
  <% questions.forEach(question => { %>
    <div style="border: solid 1px black">
      <h2><%= question.title %></h2>
    </div>
    <a href="/ask/<%= question.id %>"><button>Answer</button></a>
  <% }) %>
</body>
</html>
<%- include ('./partials/footer.ejs') %>