<%- include ('./partials/header.ejs') %>
<body>
  <%- include ('./partials/navbar.ejs') %>
  <h1>Ask and Answer</h1>
  <% questions.forEach(question => { %>
    <div class="question-box">
      <h2><%= question.title %></h2>
    </div>
    <a href="/ask/<%= question.id %>"><button class="button">Answer</button></a>
  <% }) %>
</body>
</html>
<%- include ('./partials/footer.ejs') %>