<%- include ('./partials/header.ejs') %>
<body>
  <%- include ('./partials/navbar.ejs') %>
  <h1>Question Page</h1>
  <h2><%= question.title %></h2>
  <p><%= question.describe %></p>
  <hr>
  <form method="POST" action="/answer">
    <h2>Answer</h2>
    <label>Answer:</label>
    <textarea placeholder="Type here your answer" name="answerBody"></textarea>
    <input type="hidden" name="question" value="<%= question.id %>" />
    <button type="submit">Answer</button>
  </form>
  <hr>
  <h2>Answers</h2>
  <% answers.forEach(answer => { %>
    <%= answer.answerBody %><br>
  <% }) %>
</body>
</html>
<%- include ('./partials/footer.ejs') %>